/* Center all elements */
* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black !important;
 
}

hr {
  margin: 0 !important;
}

h1 {
  text-align: center;
  color: white !important;
  font-family: 'Kanit', sans-serif;
  font-weight: 900 !important;
}


.navbar,
.navbar-item,
.has-dropdown.is-hoverable,
.navbar-link,
.navbar-dropdown {
  background-color: black !important;
  font-family: 'Kanit', sans-serif;
  font-size: 15px !important;

}

.navbar {
  box-shadow: 0px 5px #141414;
}

.navbar-menu {
  justify-content: space-evenly !important;
}


caption {
  text-align: center;
  font-size: x-large;
  color: white;
}

a {
  color: white !important;
}

.teamName {
  color: black !important;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center !important;
  font-size: x-small !important;
}

th {
  background-color: black;
  color: white !important;
  text-align: center !important;
  vertical-align: middle !important;
}

td {
  vertical-align: middle !important;
}

#team-filter {
  margin: 0 auto;
  height: 25px;
  width: 175px;
  text-align: center;
}

.logoContainer {
  margin: 20px;
}

p {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  padding: 0%;
  margin-bottom: 0 !important;
}

h2 {
  font-family: 'Kanit', sans-serif;
}

img{
  border-radius: .5rem;
}